@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'theme.css';
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

#root {
   padding-right: 30%;
  height: 100vh; 
}


 

